/*-----------------------------------------------------------
BODY
-------------------------------------------------------------*/
body,h1, h2, h3, h4, h5, h6 {
font-family: 'Antic Slab', serif;
}
h1{
  color: #2A4B7E;
  font-weight: bold;
  font-size: 3em;
}


a.title {
    text-transform: uppercase; 
    font-weight: bold;
}


.date{  
  display: block;
  padding: 4px 10px;
  color: #DD7826;
  float: left;
  font-weight: bold;
}

.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #fff;
  width: 100%;
}
.navigation a, .navigation span {
  display: block;
  padding: 4px 10px;
  color: #1379C9;
  font-weight: bold;
  text-decoration: none;
  background: #000 url(../images/menu-item2.png) left bottom no-repeat;
}
.navigation .toggleSubMenu a, .navigation .toggleSubMenu span {
  background-image: url(../images/menu-item-deroule2.png);
}
.navigation .open a, .navigation .open span {
  background-image: url(../images/menu-item-enroule2.png);
}
.navigation a:hover, .navigation a:focus, .navigation a:active {
  text-decoration: underline;
}
.navigation .subMenu {
  font-size: .8em;
  background: #ccc url(../images/subMenu.png) 0 0 repeat-x;
  font-size: .9em;
  color: #000000;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #666;
}
.navigation ul.subMenu a {
  background: none;
  padding: 3px 20px;
  float: left;
  width: 12%;
}
.navigation .subMenu li {
 padding-left: 85px;
}

.navigation .subMenu li.company{
padding-left: 20px;
font-weight: bold;


}
.navigation li.toggleSubMenu{
  line-height: 30px;
}

.containerSidebar{
  padding: 5px 5px 5px 5px;
  max-width: 325px;
  margin: 0 auto 20px auto;
  background: #fff url(../images/sidebar2.png) left top no-repeat;
  border-top: 1px solid #444444;
  border-top-width: 2px;

}
.containerSidebar h3{
  color: #444444;
  border-bottom: 1px solid #444444;
  border-bottom-style: dashed;
  border-bottom-width: 2px;
}
.Infos{
  width: 280px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border: 3px dashed #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px auto 20px auto;
}